<?xml version="1.0"?>
<configuration>
  <system.web>

	<authorization>
		<allow roles="User"/>
		<allow roles="Admin"/>
		<allow roles="Subadmin"/>
		<deny users="*"/>
	</authorization>
	</system.web>
	<location path="Userr.aspx">
		<system.web>
			<authorization>
				
				<allow roles="User"/>
				<deny users="*"/>
				<!--<deny users="*"/>-->

			</authorization>
		</system.web>
	</location>

	<location path="Adminn.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin"/>
				<deny users="*"/>

			</authorization>
		</system.web>
	</location>

	<location path="Subadminn.aspx">
		<system.web>
			<authorization>
				<allow roles="Subadmin"/>
				<deny users="*"/>

			</authorization>
		</system.web>
	</location>
</configuration>
